{{ define "partials::auth-menu" }}
    <div class="flex items-center gap-2">
        <a
            class="btn btn-secondary"
            href="/login"
        >
            Login
        </a>

        <a
            class="btn btn-primary"
            href="/register"
        >
            Sign Up
        </a>
    </div>
{{ end }}
